// Cor do texto Menu e Botão
$corTexto:#fff;

// Cor do Botão
$corDoBotao:#44bd32;

// Cor hover botão

$corDoHover:#4cd137;

// Cor de Fundo
$corDeFundo:#eee;

// Cor do Header
$corDoHeader:#182C61;

// Breackpoint

$tablet: 1023px;
$mobile: 767px;